{{template "base" .}}
{{define "title"}}About us{{end}}
{{define "main"}}
<div class="row featurette">
    <div class="col-md-7">
        <h1 class="featurette-heading">Beauty Salon</h1>
        <p class="lead">Welcome to Beauty Salon, where beauty meets tranquility and rejuvenation. Nestled in the heart of our vibrant city, Beauty Salon is your sanctuary for all things beauty and wellness.

We believe that true beauty stems from within, and our mission is to enhance and celebrate your natural radiance. With a team of highly skilled and passionate beauty professionals, we offer a wide range of services tailored to meet your individual needs and preferences.

Our experienced estheticians are dedicated to providing you with personalized care and attention to detail, ensuring that each visit to our salon is a luxurious and indulgent experience. From revitalizing facials and relaxing massages to precision haircuts and stunning nail art, we offer a comprehensive array of services designed to pamper and pamper you from head to toe.

At Beauty Salon, we are committed to using only the highest quality products and the latest techniques in the industry. We believe in harnessing the power of nature to nourish and revitalize your skin, which is why we exclusively use organic and cruelty-free skincare products in all of our treatments.

Thank you for choosing Beauty Salon. We look forward to welcoming you into our sanctuary of beauty and wellness.</p>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="static/img/about_us.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"></image></svg>
    </div>
</div>
{{end}}